body {
    background-color: black;
    color: aliceblue;
}

#words {
    font-size: 35px;
    margin-left: 5em;
    margin-right: 5em;
    background-color: rgb(71, 71, 71);
}

#words>span {
    margin-right: 10px;
    word-wrap: break-word;
}

#typeInput {
    font-size: 25px;
    margin-left: 20em;
}

.highlight {
    background-color: rgba(0, 70, 0, 0.651);
}

#time {
    font-size: 35px;
}


#gamemodeBar {
    text-align: center;
}

#gamemodeBar>p {
    margin-right: 10px;
}

#wordsGamemodeButton{
    display: inline-block;
}
#quoteGamemodeButton{
    display: inline-block;
}

#gamemodeDivider {
    display: inline-block;
}