body {
    background-color: rgb(183, 229, 255);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#words {
    font-size: 35px;
    margin-left: 5em;
    margin-right: 5em;
    background-color: rgb(255, 255, 255);
}

#words>span {
    margin-right: 10px;
    word-wrap: break-word;
}

#typeInput {
    font-size: 25px;
    margin-left: 20em;
}

.highlight {
    background-color: rgba(77, 77, 77, 0.521);
}

#time {
    font-size: 35px;
}


#gamemodeBar {
    text-align: center;
}

#gamemodeBar>p {
    margin-right: 10px;
}

#wordsGamemodeButton{
    display: inline-block;
}
#quoteGamemodeButton{
    display: inline-block;
}

#gamemodeDivider {
    display: inline-block;
}

#resultCard {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
    width: 15%;
}

#resultCard > #characters, #score, #raw {
    text-align: end;
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

#wpm {
    color: green;
    font-size: x-large;
    font-weight: bold;
}

#container {
    margin: 0 auto;
}